@import "tailwindcss";

.custom-linear-gradient{
    background: linear-gradient(135deg, #8B5CF6 0%, #6366F1 100%);
}

.custom-background-text{
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.custom-hover:hover{
    background: linear-gradient(135deg, #8B5CF6 0%, #6366F1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.hide-scrollbar::-webkit-scrollbar{
    display:none;
}
.hide-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.gradient{
    background:radial-gradient(ellipse at center, rgba(102, 126, 234, 0.1) 0%, transparent 70%);
}